$font-family-sans-serif: "Helvetica Neue",
Helvetica,
"Hiragino Sans GB",
"Hiragino Sans GB W3",
"Microsoft YaHei",
Arial,
sans-serif !default;
$font-family-serif: Georgia,
"Times New Roman",
Times,
"SimSun" serif !default;
// bower:scss
// endbower
/**
 * mix
 *
 */

// 元素水平方向和垂直方向居中显示。
@mixin middle-and-center($width:0px, $height:0px) {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -($width / 2);
    margin-top: -($height / 2);
}

@mixin opacity($opacity) {
    opacity: $opacity;
    // IE8 filter
    $opacity-ie: ($opacity * 100);
    filter: alpha(opacity=$opacity-ie);
}

html.fsvs {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

html.fsvs #fsvs-body {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

html.fsvs #fsvs-body > * {
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

body {
    font-family: $font-family-sans-serif;
}

.container {
    position: relative;
    margin: 0 auto;
    height: 100%;
    @media(min-width: 1200px) {
        width: 1200px;
    }
}

// //页面导航样式
.side-nav-wrap {
    position: fixed;
    left: 85px;
    top: 50%;
    margin-top: -200px;
    z-index: 1000;
    .side-nav {
        margin-left: 0;
        padding-left: 0;
        list-style: none;
        li {
            text-align: center;
            width: 1em;
            border-bottom: 1px solid #FFFFFF;
            margin: 0px auto;
            padding: 6px 2px 3px;
            padding-bottom: 10px;
            a {
                color: #FFFFFF;
                text-decoration: none;
                line-height: 0.8;
            }
            &.active {
                a {
                    color: #FFFCA8;
                }
            }
        }
    }
    .directive {
        position: absolute;
        left: 50px;
        top: 0px;
    }
}

.logo {
    position: absolute;
    left: 55px;
    top: 50px;
    z-index: 30;
}

.slide {
    position: relative;
}

//分屏页面样式
.slide-1 {
    background: url(../images/bg01.jpg) no-repeat center center;
    background-size: 100% 100%;
    .floating {
        transition: margin 1s, opacity 1s;
        transform: translate3d(0px, 0px, 0px) scale(0);
        @include opacity(0);
        &.floating-1 {
            @include middle-and-center(59px, 61px);
            transition-duration: 1.2s;
            transition-delay: 1s;
            transform: translate3d(0px, 0px, 0px) scale(1);
        }
        &.floating-2 {
            @include middle-and-center(743px, 650px);
            transform: scale(0);
            transition: none;
            z-index: 10;
        }
        &.floating-3 {
            @include middle-and-center(97px, 51px);
            transition-duration: 1s;
            transition-delay: 1s;
            transform: translate3d(0px, 0px, 0px) scale(1);
        }
        &.floating-4 {
            @include middle-and-center(110px, 57px);
            transition-duration: 1.2s;
            transition-delay: 1s;
            transform: translate3d(0px, 0px, 0px) scale(1);
        }
        &.floating-5 {
            @include middle-and-center(99px, 60px);
            transition-property: margin, z-index, opacity;
            transition-duration: 1.5s;
            transition-delay: 1s;
            z-index: 0;
            transform: translate3d(0px, 0px, 0px) scale(1);
        }
        &.floating-6 {
            @include middle-and-center(106px, 137px);
            transition-duration: 0.9s;
            transition-delay: 1s;
            transform: translate3d(0px, 0px, 0px) scale(1);
        }
        &.floating-7 {
            @include middle-and-center(122px, 126px);
            transition-duration: 1.5s;
            transition-delay: 1s;
            transform: translate3d(0px, 0px, 0px) scale(1);
        }
        &.floating-8 {
            @include middle-and-center(36px, 30px);
            transition-duration: 1.2s;
            transition-delay: 1s;
            transform: translate3d(0px, 0px, 0px) scale(1);
        }
        &.floating-9 {
            @include middle-and-center(51px, 35px);
            transition-duration: 1.7s;
            transition-delay: 1s;
            transform: translate3d(0px, 0px, 0px) scale(1);
        }
        &.floating-astronaut {
            @include middle-and-center(422px, 258px);
            transition-property: margin, z-index;
            transition-duration: 1.7s;
            transition-delay: 1s;
            transform: translate3d(0px, 0px, 0px) scale(1);
            z-index: 10;
            transform-origin: 40px 220px;
            margin-left: -56px;
                margin-top: -330px;
        }
    }
    &.active-slide {
        .floating {
            @include opacity(1);
            &.floating-1 {
                margin-left: -442px;
                margin-top: -70px;
            }
            &.floating-2 {
            }
            &.floating-3 {
                margin-left: -452px;
                margin-top: 110px;
            }
            &.floating-4 {
                margin-left: -392px;
                margin-top: 240px;
            }
            &.floating-5 {
                margin-left: 100px;
                margin-top: 255px;
                z-index: 10;
            }
            &.floating-6 {
                margin-left: 272px;
                margin-top: 160px;
            }
            &.floating-7 {
                margin-left: 335px;
                margin-top: 0px;
            }
            &.floating-8 {
                margin-left: 400px;
                margin-top: -190px;
            }
            &.floating-9 {
                margin-left: -250px;
                margin-top: -250px;
            }
            &.floating-astronaut {
                margin-left: -56px;
                margin-top: -330px;
                // z-index: 15;
            }
        }
    }
}

.slide-2 {
    background: url(../images/bg02.jpg) no-repeat center center;
    background-size: 100% 100%;
    .floating {
        // transition: opacity 1s 0.5s;
        transition: none;
        transform: translate3d(0px, 0px, 0px);
        display: none;
        @include opacity(0);
        &.floating-10 {
            @include middle-and-center(1040px, 625px);
            transition-duration: 1s;
            display: block;
        }
        &.floating-11 {
            @include middle-and-center(129px, 93px);
            transition-duration: 1s;
            transition-delay: 1.5s;
            display: block;
            width: 129px;
            height: 93px;
            transform: scale(0);
            @include opacity(0);
        }
        &.floating-12 {
            @include middle-and-center(332px, 110px);
            transition-delay: 2s;
            margin-left: -108px;
            margin-top: -285px;
        }
        &.floating-13 {
            @include middle-and-center(0px, 0px);
            transition-delay: 2.5s;
            width: 480px;
            margin-left: -84px;
            margin-top: -196px;
            color: #ffffff;
            font-size: 12px;
        }
    }
    &.active-slide {
        .floating {
            &.floating-10, &.floating-11, &.floating-12, &.floating-13 {
                @include opacity(1);
            }
            &.floating-12 {}
            &.floating-13 {}
        }
    }
}

.slide-3 {
    background-size: 100% 100%;
    video {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -30;
        background: url('../images/bg03.jpg') no-repeat;
        background-size: cover;
    }
    .pic-wrap {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.68);
        display: none;
        .pic {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 710px;
            height: 444px;
            margin-left: -355px;
            margin-top: -222px;
            img {
                width: 100%;
                height: 100%;
                &.loading {
                    width: 24px;
                    height: 24px;
                    margin-left: -12px;
                    margin-top: -12px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                }
            }
        }
    }
    .nav {
        @include middle-and-center(500px, 100px);
        top: auto;
        bottom: 5%;
        margin-top: 0;
        width: 520px;
        height: 100px;
        list-style: none;
        padding-left: 0;
        > li {
            float: left;
            width: 25%;
            a {
                display: block;
                color: #ffffff;
                font-size: 16px;
                background-color: #0085B2;
                width: 96px;
                height: 96px;
                text-align: center;
                line-height: 96px;
                border-radius: 48px;
                text-decoration: none;
                transition: background-color 0.5s;
                &:hover {
                  background-color: #FF8000;
                }
            }
            &.active {
                a {
                    background-color: #FF8000;
                }
            }
        }
    }
}

.slide-4 {
    background: url(../images/bg04.jpg) no-repeat center center;
    background-size: 100% 100%;
    .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: url(../images/mask.png) no-repeat center center;
        background-size: 100% 100%;
    }
    .content-wrap {
        width: 573px;
        height: 613px;
        background: url(../images/bg05.png) no-repeat center top;
        position: absolute;
        @include middle-and-center(573px, 613px);
        margin-top: -330px;
        color: #444444;
        transform: scale(0);
        h3 {
            text-align: center;
            font-size: 26px;
            font-weight: normal;
            padding-right: 40px;
            margin-top: 50px;
        }
        .content {
            font-size: 12px;
            padding: 0 110px 0 80px;
            line-height: 2;
            p, h3 {
                @include opacity(0);
                display: none;
            }
        }
    }
    .nav {
        position: absolute;
        width: 428px;
        left: 50%;
        top: 50%;
        margin-left: -234px;
        margin-top: 180px;
        padding-left: 0;
        list-style: none;
        text-align: center;
        z-index: 10;
        li {
            float: left;
            width: 20%;
            display: none;
            a {
                color: #ffffff;
                font-size: 12px;
                text-decoration: none;
            }
            .icon {
                width: 64px;
                height: 64px;
                margin: 0 auto;
                transition: all 0.5s;
                position: relative;
                .iconfont {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    color: #09BBFF;
                    font-size: 43px;
                    transition: all 0.5s;
                    @include opacity(1);
                    &.active {
                        @include opacity(0);
                    }
                }
            }
            p {
               
            }
            &:hover {
                color: #09BBFF;
                .icon {
                    .iconfont {
                        @include opacity(0);
                        color: #ffffff;
                        &.active {
                            @include opacity(1);
                        }
                    }
                }
            }
            &.active {
                .icon {
                    .iconfont {
                        @include opacity(0);
                        color: #ffffff;
                        &.active {
                            @include opacity(1);
                        }
                    }
                }
            }
        }
    }
    .footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 106px;
        line-height: 106px;
        background-color: #222222;
        color: #BBBBBB;
        font-size: 12px;
        .col-6 {
            float: left;
            width: 50%;
        }
        .right {
            text-align: right;
        }
        .logo {
            position: static;
            margin-left: 80px;
            border-right: 1px solid #72777c;
            padding-right: 20px;
            vertical-align: middle;
        }
        .author {
            color: #BBBBBB;
            font-size: 12px;
            margin-left: 20px;
        }
        .copyright {
            line-height: 2;
            float: right;
            padding-left: 20px;
            margin-left: 20px;
            margin-top: 30px;
            border-left: 1px solid #72777c;
            text-align: left;
            padding-right: 80px;
        }
        .icon-contact {
            margin-right: 10px;
            margin-top: 40px;
        }
    }
}